.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
}

.gallery-item {
  flex-basis: calc(33.333% - 24px);
}

.gallery-link {
  display: block;
  text-decoration: none;
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
}
